<div id='footer'>
	<div class='row'>
		<div class='large-4 columns'>
			<h2><small>About us</small></h3>
			<p>We are a fortune 500. We care about one thing. You. Because your money = our profits. So why don't you buy a thing or two?</p>
		</div>
		<div class='large-4 columns'>
			<h2><small>Locations</small></h3>
			<p>Find us on every street corner you happen to pass by. We are literally everywhere</p>
		</div>
		<div class='large-4 columns'>
			<h2><small>Contact us</small></h3>
			<ul>
				<li>support@example.com</li>
				<li>1 (800) 555 5555</li>
				<li>511 Boren Ave. N <br> Seattle, WA 98109</li>
			</ul>
		</div>
	</div>
</div>
