<div class='row' id='products'>
	<% @products.each do |p| %>
		<div class='small-3 columns end product-column'>
			<div class='product'>
				<div class='title'>
					<span class='name'><strong><%= p.name %></strong></span> | <span class='price'><small><%= number_to_currency p.price %></small></span>
				</div>
				<%= link_to 'Edit', edit_product_path(p) %> |
				<%= link_to 'Delete', product_path(p), method: :delete, data: { confirm: 'Are you sure?' } %>
			</div>
		</div>
	<% end %>
</div>
