<div class='row' id='products'>
	<div class='small-3 small-centered columns center'>
		<div class='product'>
			<div class='title'>
				<span class='name'><strong><%= @product.name %></strong></span> | <span class='price'><small><%= number_to_currency @product.price %></small></span>
			</div>
			<%= link_to 'Edit', edit_product_path(@product) %> |
			<%= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: 'Are you sure?' } %>
			
		</div>
	</div>
</div>
